<% include ../partials/header %>
<div class="container">
  <div class="row justify-content-center my-5">

    <div class="col-lg-4 col-md-6 col-sm-8 col-12">
      <div class="card shadow-sm mb-3">
        <img class="card-img-top" src="<%= user.avatar.content %>" height="250px" alt="Card image cap">
        <div class="position-absolute w-100">
          <div class="float-right m-3">
            <a class="btn btn-sm btn-outline-secondary" href="/users/<%= user._id %>/edit"><i class="fas fa-cog"></i></a> 
          </div>
        </div>
        <div class="card-body">
          <div class="text-center">
            <h2 class="font-weight-light d-inline mr-3"><%= user.username %></h2>
            <button class="btn btn-sm btn-outline-primary mb-3" type="button">Follow</button>
          </div>
          <div class="d-flex justify-content-between align-items-center text-muted">
            <p><%= landscapes.length %> posts</p>
            <p>10 followers</p>
            <p>10 following</p>
          </div>
          <hr>
          <div class="card shadow-sm">
            <h5 class="card-header">Information</h5>
            <div class="card-body">
              <h5 class="responsive-text font-weight-light"><%= user.fullname %></h5>
              <h6 class="card-subtitle text-muted"><%= user.email %></h6>
            </div>
          </div>
          <div class="card shadow-sm my-3">
            <h5 class="card-header">About me</h5>
            <div class="card-body">
              <p class="lead"><%= user.aboutme %></p>
            </div>
          </div>         
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card card-body shadow-sm">
        <% if(landscapes.length){ %>
          <h2 class="font-weight-light">User's Posts</h2>
          <hr>
          <ul class="list-unstyled list-posts">
            <% landscapes.forEach(landscape => { %>
              <li class="media">
                <img class="align-self-start mr-3" src="<%= landscape.image.content %>" alt="<%= landscape.name %>" width="100px">
                <div class="media-body">
                  <h5 class="mt-0 mb-1"><strong><a href="/landscapes/<%= landscape._id %>"><%= landscape.name %></a></strong></h5>
                  <h5 class="text-muted"><small><i>Posted on <%= moment(landscape.createdAt).format('MMMM Do YYYY') %></i></small></h5>
                  <p><%= landscape.description.substring(0, 140) %> ...</p>
                </div>
              </li>
              <hr>
            <% }); %>
          </ul>
        <% } else{ %>
          <h2 class="font-weight-light">No posts yet...</h2>
        <% } %>
      </div>
    </div>

  </div>
</div>
<% include ../partials/footer %>