<% include ../partials/header %>
<div id='map' style="width:100%; height: 200px;"></div>
<div class="row my-3">
  <div class="col-md-12 text-center mb-3">
    <h1>Edit: <%=landscape.name%></h1>    
  </div>
  <div class="m-auto col-lg-4 col-md-5 col-sm-6 col-10">
    <form action="/landscapes/<%= landscape._id %>?_method=PUT" method="POST" autocomplete="off" enctype="multipart/form-data">
      <div class="form-group">
        <label for="landscape-edit-name" class="col-form-label"><strong>Name</strong></label>
        <input id="landscape-edit-name" class="form-control" type="text" name="landscape[name]" value="<%= landscape.name %>" maxlength="50" autofocus required>
      </div>
      <div id="geocoder" class="form-group">
        <label class="col-form-label"><strong>Location</strong></label>
      </div>
      <input id="lat" type="hidden" name="landscape[lat]" value="<%= landscape.lat %>">
      <input id="lng" type="hidden" name="landscape[lng]" value="<%= landscape.lng %>">
      <div class="form-group">
        <label for="landscape-edit-description" class="col-form-label"><strong>Description</strong></label>
        <textarea class="form-control" name="landscape[description]" id="landscape-edit-description" rows="5" maxlength="600"><%= landscape.description %></textarea>
      </div>
      <div class="form-group">      
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile" name="image" accept="image/*">
          <label class="custom-file-label" for="inputGroupFile">Choose Image</label>
        </div>
      </div>
      <button class="btn btn-primary btn-block">Update</button>
    </form>
    <div class="login-help text-center mt-3">
      <a href="/landscapes/<%= landscape._id %>">Go Back</a>
    </div>
  </div>
</div>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css' type='text/css'/>
<script>
  $('#inputGroupFile').change(function(e){
    const fileName = e.target.files[0].name;
    if(fileName) $('.custom-file-label').html(fileName);
  });

  // Mapbox
  mapboxgl.accessToken = '<%= key %>';
  const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/outdoors-v10',
    center: [-76.1954, 4.0848],
    zoom: 8,
    interactive: false
  });

  const geocoder = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken
  });

  document.getElementById('geocoder').appendChild(geocoder.onAdd(map));

  $('.mapboxgl-ctrl-geocoder').css({
    'width': '100%',
    'max-width': '100%'
  });
  $( '.mapboxgl-ctrl-geocoder input' ).attr({
    'name': 'landscape[location]',
    'value': '<%= landscape.location %>',
    'required': true
  });

  map.on('load', function() {
    map.addSource('single-point', {
      "type": "geojson",
      "data": {
          "type": "FeatureCollection",
          "features": []
      }
    });

    map.addLayer({
      "id": "point",
      "source": "single-point",
      "type": "circle",
      "paint": {
          "circle-radius": 10,
          "circle-color": "#007cbf"
      }
    });

    // Listen for the `result` event from the MapboxGeocoder that is triggered when a user
    // makes a selection and add a symbol that matches the result.
    geocoder.on('result', function(ev) {
      map.getSource('single-point').setData(ev.result.geometry);
      $('.mapboxgl-ctrl-geocoder input').attr({
        'value': ev.result.place_name
      });
      $('#lng').attr('value', ev.result.center[0])
      $('#lat').attr('value', ev.result.center[1])
    });
  });
</script>
<% include ../partials/footer %>