<% include ../partials/header %>
<div class="row">
  <h1 class="text-center">Edit: <%=landscape.name%></h1>
  <div class="div-center"">
    <form action="/landscapes/<%= landscape._id %>?_method=PUT" method="POST" autocomplete="off" enctype="multipart/form-data">
      <div class="form-group">
        <label for="landscape-edit-name">Name:</label>
        <input id="landscape-edit-name" class="form-control" type="text" name="name" value="<%= landscape.name %>" maxlength="30" autofocus required>
      </div>
      <div class="form-group">
        <label for="landscape-edit-price">Entrance Fee:</label>
        <input id="landscape-edit-price" class="form-control" type="number" name="entranceFee" value="<%= landscape.entranceFee %>" min="0.1" step="0.1">
      </div>
      <div class="form-group">
        <label for="landscape-new-image">Image:</label>
        <input id="landscape-new-image" type="file" name="image" accept="image/*">
      </div>
      <div class="form-group">
        <label for="landscape-edit-location">Location:</label>
        <input id="landscape-edit-location" class="form-control" type="text" name="location" value="<%= landscape.location %>" maxlength="50" required>
      </div>
      <div class="form-group">
        <label for="landscape-edit-description">Description:</label>
        <textarea class="form-control" name="description" id="landscape-edit-description" rows="5" maxlength="100"><%= landscape.description %></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block">Update</button>
      </div>
    </form>
    <a href="/landscapes/<%= landscape._id %>">Go Back</a>
  </div>
</div>
<% include ../partials/footer %>