<% include ../partials/header %>

<% if(currentUser && currentUser.isAdmin){} %>
    
<div class="jumbotron jumbotron-fluid m-0">  
  <div class="container">
    <h1 class="display-4"><i class="fas fa-globe-americas" aria-hidden="true"></i> Welcome To MyLand!</h1>
    <p class="lead">View our hand-picked landscapes from all over the world</p>
    <hr class="my-4">
    <a class="btn btn-outline-primary btn-lg" id="new-landscape" href="/landscapes/new"><i class="fas fa-plus" aria-hidden="true"></i> Add New Landscape</a>
  </div> 
</div>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <% landscapes.forEach((landscape) => { %>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="<%= landscape.image.content %>" alt="<%= landscape.name %>">
            <div class="card-body">
              <h5 class="card-title"><%= landscape.name %></h5>
              <div class="d-flex justify-content-between align-items-center">
                <a href="/landscapes/<%= landscape._id %>" class="btn btn-sm btn-outline-info"><i class="fas fa-info-circle"></i> More Info</a>
                <small class="text-muted"><%= moment(landscape.createdAt).fromNow() %></small>
              </div>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
</div>

<% include ../partials/footer %>