<% include ../partials/header %>
<div class="container my-6">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group mb-4">
        <% if(landscape.entranceFee) { %>
          <li class="list-group-item list-group-item-light">
            <h6>Entrance Fee</h6>
            <p><i class="fas fa-dollar-sign"></i> <%= landscape.entranceFee %></p>
          </li>
        <% } %>
        <li class="list-group-item list-group-item-light">
          <h6><i class="fas fa-calendar-alt"></i> Published</h6>
          <small><%= moment(landscape.createdAt).format('MMMM Do YYYY, h:mm a') %></small>
        </li>
      </div>
      <div class="mb-4 shadow-sm" id="map"></div>
    </div>
    <div class="col-md-9">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top" src="<%= landscape.image.content %>" alt="Card Image">
        <div class="card-body">
          <h4 class="card-title"><%= landscape.name %></h4>
          <h6 class="card-subtitle mb-2 text-muted">Submitted by <a href="/users/<%= landscape.author.id %>"><%= landscape.author.username %></a></h6>
          <hr>
          <p class="card-text"><%= landscape.description %></p>
          <% if(currentUser && landscape.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>          
            <div class="btn-group" role="group" aria-label="Options">
              <a class="btn btn-sm btn-outline-warning" href="/landscapes/<%= landscape._id %>/edit">Edit</a>
              <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#deleteLandscape">Delete</button>           
            </div>
            <form id="deleteLandscapeForm" action="/landscapes/<%= landscape._id %>?_method=DELETE" method="POST"></form>

            <!-- Modal -->
            <div class="modal fade" id="deleteLandscape" tabindex="-1" role="dialog" aria-labelledby="deleteLandscapeLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteLandscapeLabel">Delete Landscape</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Do you want to delete the landscape?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" form="deleteLandscapeForm">Delete</button>
                  </div>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      </div>

      <!-- COMMENT SECTION START -->
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <div class="float-right">
            <a class="btn btn-outline-success" id="new-comment" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
              <i class="fas fa-plus" aria-hidden="true"></i> Add New Comment</a>
          </div>
          <!--Comment section title-->
          <h4 id="comment-header" class="text-muted clearfix">Comments <i class="fas fa-comments" aria-hidden="true"></i></h4>
    
          <!--Collapse Add a comment form START-->
          <div class="collapse" id="collapseComment">
            <div class="card card-body border-left-success">
              <% if(!currentUser) { %>
                <!--If the user is not logged in, direct him to the login page-->
                <h6 class="text-secondary">Please login to write comment. <a href="/login">Click here</a> to go to the login page.</h6>
              <% } %>
              <% if(currentUser) { %>
                <!--If the user is logged in, show the new comment form-->
                <h5 class="text-secondary mb-3">Write your comment <i class="fas fa-pencil-alt" aria-hidden="true"></i></h5>
                <form action="/landscapes/<%= landscape._id %>/comments" method="POST">
                  <div class="form-group">
                    <label class="sr-only" for="comment-new-author">Author</label>
                    <input id="comment-new-author" class="form-control" type="text" value="<%= currentUser.username %>" readonly>
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="comment-new-text">Text</label>
                    <textarea id="comment-new-text" class="form-control" name="text" placeholder="Write your comment..." rows="5" autofocus required></textarea>
                  </div>
                  <button type="submit" class="btn btn-outline-success btn-sm">Comment <i class="fas fa-comment" aria-hidden="true"></i></button>              
                </form>
              <% } %>
            </div>
          </div>
          <!--Collapse Add a comment form END-->       
          <hr>
    
          <!--Check if there are comments, if there are none say no comments.-->
          <% if (landscape.comments.length === 0) { %>
            <p class="font-italic text-muted">No comments yet.</p>
          <% } %>
            
          <div class="row">
            <!--Display comments by looping through them-->
            <% landscape.comments.forEach(function(comment){ %>
                   
              <div class="col-md-12 mb-1">
                <div class="card bg-light shadow-sm">
                  <div class="card-body">
                    <!--Show when the comment was made-->
                    <div class="d-flex justify-content-between">
                        <h6 class="card-title">
                          <% if (currentUser && currentUser._id.equals(comment.author.id)) { %>
                            <!--If the current user owns the comment, change the color of the user icon-->
                            <i class="fas fa-user text-primary" aria-hidden="true"></i>
                          <% } else { %>
                            <!--Else just display it black-->
                            <i class="fas fa-user" aria-hidden="true"></i>
                          <% } %>
                          <!--Print out the author username-->
                          
                          <a href="/users/<%= comment.author.id %>"><%= comment.author.username %></a>
                        </h6>
                        <p class="text-muted"><%= moment(comment.createdAt).fromNow() %></p>
                    </div>
                    
                    <!--Printing the comment-->
                    <p class="card-text text-justify"><%= comment.text %></p>
                    <!--If the visitor is logged in and the owner of the comment or is admin, show the edit and delete buttons-->
                    <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                      <div class="btn-group mb-2" role="group" aria-label="Options">
                        <!--Edit button used for collapsing the edit comment form-->
                        <a class="btn btn-sm btn-outline-warning" role="button" data-toggle="collapse" href="#collapseEdit<%= comment._id %>" aria-expanded="false" aria-controls="collapse<%= comment._id %>">Edit</a>
                        <!--Delete comment button-->
                        <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#modalDelete<%= comment._id %>">Delete</button>
                      </div>
                      
                      <!-- Modal -->
                      <div class="modal fade" id="modalDelete<%= comment._id %>" tabindex="-1" role="dialog" aria-labelledby="modalDeleteLabel<%= comment._id %>" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="modalDeleteLabel<%= comment._id %>">Delete Comment</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              Do you want to delete the comment?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <form action="/landscapes/<%= landscape._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-danger">Delete</button>
                              </form>  
                            </div>
                          </div>
                        </div>
                      </div>
                    
                      <!--Edit comment form-->
                      <div class="collapse" id="collapseEdit<%= comment._id %>">
                        <div class="card card-body border-left-warning">
                          <h5 class="text-secondary mb-3">Edit Comment <i class="fas fa-edit" aria-hidden="true"></i></h4>
                          <form id="edit-comment-form<%= comment._id %>" action="/landscapes/<%= landscape._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                            <div class="form-group">
                              <label class="sr-only" for="comment-edit-author">Author</label>
                              <input id="comment-edit-author" class="form-control" type="text" value="<%= currentUser.username %>" readonly>
                            </div>
                            <div class="form-group">
                              <label class="sr-only" for="comment-edit-text">Text</label>
                              <textarea id="comment-edit-text" class="form-control" name="comment[text]" placeholder="Your comment text..." rows="5" autofocus required><%= comment.text %></textarea>
                            </div>
                            <button type="submit" class="btn btn-outline-warning btn-sm">Edit Comment <i class="fas fa-comment" aria-hidden="true"></i></button> 
                          </form>
                        </div>
                      </div>
                      
                    <% } %>
                  </div>
                </div>
              </div>
            <% }); %>
          </div> 
        </div>
      </div>   
    </div>
  </div>
</div>

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css' rel='stylesheet' />
<script async defer>
  mapboxgl.accessToken = '<%= key %>';
  
  let map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/mapbox/outdoors-v10', // stylesheet location
    center: ['<%= landscape.lng %>', '<%= landscape.lat %>'], // starting position [lng, lat]
    zoom: 8 // starting zoom
  });
  
  let marker = new mapboxgl.Marker({
    color: '#3bb2d0',
  });
  
  let popUp = new mapboxgl.Popup({
    offset: 25
  });
  
  popUp.setHTML('<h5><%= landscape.name %></h5>'+'<p class="text-muted"><%= landscape.location %></p>');
  marker.setLngLat(map.getCenter());
  marker.setPopup(popUp);
  marker.addTo(map);
</script>
<% include ../partials/footer %>